<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <form action="/update" method="POST" class="form__update">
                    <div>
                        <div class="title">Update Product</div>
                    </div>
                    <input
                        type="hidden"
                        name="productId"
                        value="<%= product.id %>"
                    />
                    <div>
                        <label>Name:</label>
                        <input
                            type="text"
                            value="<%= product.productName %>"
                            name="productName"
                        />
                    </div>
                    <div>
                        <label>Price:</label>
                        <input
                            type="text"
                            value="<%= product.price %>"
                            name="price"
                        />
                    </div>
                    <div>
                        <label>Description:</label>
                        <input
                            type="text"
                            value="<%= product.description %>"
                            name="description"
                        />
                    </div>
                    <div>
                        <button type="submit" class="btn-submit">Update</button>
                    </div>
                    <div class="link">
                        <a href="/" class="go-to">Go back Home</a>
                        <a href="/search" class="go-to">Go to Search</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
