<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>
  <div class="create-product-container">
    <form action="/update" method="POST">
        <div><b><h3>Update a product:</h3></b></div>
        <input type="hidden" name="productId" value="<%= product.id %>">
        <div>
            <label>Name:</label>
            <input type="text" value="<%= product.productName %>" name="productName" />
        </div>
        <div>
            <label>Description:</label>
            <input type="text" value="<%= product.description %>" name="description" />
        </div>
        <div>
            <label>Price:</label>
            <input type="text" value="<%= product.price %>" name="price" />
        </div>

        <div>
            <button type="submit" class="btn-submit">Submit</button>
        </div>

    </form>

</div>
</body>
</html>