<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Login</title>
</head>
<body>
  <div class="register">
    <form class="register-content" action="/users/register" method="post">
      <h4>Register</h4>
      <div class="container">
        <label for="fullName"><b>Full Name</b></label>
        <input type="text" placeholder="Enter Full Name" name="fullName" required>

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
  
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
          
        <button type="submit">Register</button>
      </div>
    </form>
  </div>
</body>

</html>