<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Search</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="wrapper">
            <div class="container search__container">
                <form action="/search" method="GET" class="form__search">
                    <div class="title">Seach Name Product</div>
                    <input
                        placeholder="Enter name product"
                        type="text"
                        name="productName"
                    />
                    <button type="submit">Search</button>
                    <a href="/" class="go-to back-home">Go back Home </a>
                </form>
                <% if(products.length === 0) { %>
                <div class="search__table">
                    <div class="title title-table">List Name Product</div>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product name</th>
                                <th>Description</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td colspan="4" class="empty_product">
                                No Product, Please Add Some
                            </td>
                        </tbody>
                    </table>
                </div>
                <% }%> <% if(products.length !== 0) { %>
                <div class="search__table">
                    <div class="title title-table">List Name Product</div>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product name</th>
                                <th>Price</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0; i < products.length; i++) { %>
                            <tr>
                                <td style="padding: 10px 25px"><%= i+1 %></td>
                                <td style="padding: 10px 25px">
                                    <%= products[i].productName %>
                                </td>
                                <td style="padding: 10px 25px">
                                    <%= products[i].price %>
                                </td>
                                <td style="padding: 10px 25px">
                                    <%= products[i].description %>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <% }%>
            </div>
        </div>
    </body>
</html>
